body {
  margin: 0;
  color: black;
  font-size: 18px;
  background-color: white;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.library {
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  right: 0px;
  position: absolute;

  background-color: black;
}

.note {
  border-radius: 1.5px;
  margin: 5px;
  background-color: #EEC979;
  background-color: #F0ADA7;
  background-color: #48B0C7;
  width: 100px;
  height: 100px;
  box-shadow: 0 0px 1px 1px black;
  overflow-wrap: break-word;
  position: absolute;
  transition: transform 0.1s;
}

.note:hover {
  cursor: pointer;
}

.notebase {
  border-radius: 1.5px;
  margin: 5px;
  background-color: red;
  width: 100px;
  height: 100px;
  box-shadow: 0 0px 1px 1px black;
  overflow-wrap: break-word;
}

.notebase:hover {
  cursor: pointer;
}

.note-text {
  margin: 2px;
  margin-left: 5px;
  pointer-events: none;
}

:link, :visited {
  font-family: inherit;
  text-decoration: none;
  color: white;
}

:root {
  --amplify-container-align: center;
  --amplify-background-color: #f4989D;
  --amplify-primary-color: #16223C;
  --amplify-secondary-color: #16223C;
  --amplify-primary-tint: blue;
  --amplify-primary-shade: red;
}
